 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 body {
    background-image: url(./assets/bg.jpg);
    background-position: top center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: #481c95;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 32px;
   
 }
 body * {
    font-family: 'Inter', sans-serif;
    line-height: 160%;
 }
 main {
    max-width: 600px;
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 32px;
 }
 header img{
   background-image: linear-gradient(60deg, #481c95 0%, #b88dfb 100%);
   width: 30%;
   border-radius: 50%;
   padding: 4px;
   display: flex;
   margin-right: 20px;
   
 }
 .main-header{
   display: flex;
   flex-direction: row;
   align-items: center;
 }

 header{
   width: 90%;
   max-width: 600px;
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   font-size: 14px;
   padding: 5px;
 }
header section {
    min-width: 50%;
    max-width: 600px;
 }
 header section div p {
    /* adicionado um word-wrap aos paragrafos para ter quebra de linha quando o tamanho da caixa diminuir*/
    word-wrap: break-word;
 }
header section {
   min-width: 50%;
   max-width: 600px;
}
 .header {
    transition: transform 0.3s;
    animation: fromTop 0.6s 0.3s backwards;
    /* adicionado um margin-right ao .header para os elementos dentro do header ficarem mais bonitos visualmente*/
    margin-right: 20px;
 }
div img{
   transition: transform .3s;
   animation: fromTop .6s .3s backwards;

 }
div img:hover{
   transform: scale(1.1);
 }
 section {
    color: white;
    background-image: linear-gradient(60deg, #481c95 0%, #b88dfb 100%) ;
    padding-bottom: 7px;
    padding-left: 7px;
    border-radius: 10px;
    animation: fromLeft .7s backwards;
 }
 section div{
    background-color: #443E54;
    padding: 24px;
    padding-top: 24px;
    border-radius: 8px;

 }
 section:nth-child(1){
   animation-delay: 0;
 }
 section:nth-child(2) {
    animation-delay: .3s;
 }
 section:nth-child(3) {
    animation-delay: .6s;
 }
 section h2{
    font-weight: 900;
    font-size: 24px;
    letter-spacing: -0.47px;
 }
 section p{
    letter-spacing: -0.18px;
    color: #A1A1AA;
 }
  section ul {
      list-style: none;
      display: flex;
      gap: 16px;
      margin-top: 24px;
      flex-wrap: wrap;
  } 
  section ul li{
      transition: transform .3s;
  }
  section ul li:hover{
      transform: scale(1.1);
  }
 .games-list img{
    width: 90px;
    border-radius: 8px;

 }
 .channel-list img{
    width: 70px;
    border-radius: 50%;
    border: 1px solid #c3c3c3;
 }

 /*animation*/
 
 @keyframes fromTop{
   0% {
         opacity: 0;
         transform: translateY(-30px);
      }
   
      100% {
         opacitiy: 1;
         transform: translateY(0);
      }
 }
  @keyframes fromLeft {
     0% {
        opacity: 0;
        transform: translateX(-30px);
     }

     100% {
        opacitiy: 1;
        transform: translateX(0);
     }
  }
  @media (max-width: 350px) {
     .header {
        margin-right: 10px;
     }
  }